.container {
  width: 100%;
  height: 50px;
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.darkBtn {
  color: var(--color-accent);
  font-size: 1.4rem;
  cursor: pointer;
}
.tabcurrent {
  background-color: var(--color-bg);
}

.wrapper img {
  padding: 0 20px;
  height: 50px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .wrapper {
    max-width: 900px;
  }
}
