.menuBtn {
  width: 84px;
  height: 40px;
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .menuBtn {
    font-size: 1.4rem;
    width: 100px;
  }
}
